.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.nav__dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  left: 30px;
  bottom: 28px;
}

.icon__dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  left: 22px;
  bottom: 20px;
}

.more__dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  left: 55px;
  bottom: 70px;
}
