.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.nav__dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: flex;
  position: absolute;
  left: 28px;
  bottom: 28px;
}

.icons__dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: relative;
  left: 97px;
  bottom: 23px;
}
